.button-active-show {
  padding: .15rem 2.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background: linear-gradient(98.66deg, #83A4D4 25.37%, #B6FBFF 100%);
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
  height: 80%;
  cursor: pointer;
}
